.cursor-pointer {
  cursor: pointer;
}
.custom__sidebar:hover .brand__logo-sidebar {
  transition: 0.2s ease-in-out;
  width: 120px;
}

.custom__sidebar .brand__logo-sidebar {
  transition: 0.2s ease-in-out;
  width: 36px;
}

.custom__sidebar .brand__logo-sidebar.active {
  transition: 0.2s ease-in-out;
  width: 120px;
}
.nk-menu-item .nk-menu-link.active {
  color: #9769ff !important;
  background: #ebeef2;
}

.input-validation-error{
  color: #e85347;
  font-size: 11px;
  font-style: italic;

}

.Toastify__toast{
  width: auto !important;
}